.research-project-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    margin: auto;
    max-width: var(--page-width);
    margin-top: 2rem;
    /* border: 1px blue solid; */

}

.research-project-page main,
.research-project-page nav {
    /* border: 1px red solid; */
}

.research-project-page main {
    flex: 3;
    /* padding-right: 2rem; */
}