ul.offer-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
ul.offer-list li {
    padding: 2rem;
    border-radius: 2rem;
            background-color: var(--dark-white);

}

ul.offer-list li:hover {
        cursor: pointer;
        background-color: var(--dark-dark-white);

}

ul.offer-list li a:focus{
    outline:none;
    box-shadow: none;
}

ul.offer-list li:has(a:focus) {
    box-shadow: var(--focus-indicator);
}