.resource-detail-wrapper img {
    width: 100%;
    max-width: 20rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: left;
    margin-top: 2rem;
}

.resource-subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0;
    /* color: var(--dark-gray); */
    margin-top: 0.5rem;
}

.note-section {
    max-width: var(--content-width);
    display: block;
    background-color: var(--light-blue);
    color: inherit;
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 2rem;
}

.note-section h2{
    margin: 0;
}