.references summary {}

.references summary h2 {
    margin: 0;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;

}

.references details>summary {
    list-style-type: none;
}

.references details>summary::-webkit-details-marker {
    display: none;
}

.references details>summary span::before {
    content: '+';
    font-size: 1.75rem;
    margin-right: 0.5rem;
  
}

.references details[open]>summary span::before {
    content: '−';
   
}


.references details {
    margin-top: 3rem;
    max-width: var(--content-width);
    border: 0.0625rem solid var(--light-grey);
    padding: 0;
}

.references details ul {
    margin-bottom: 0;
}

.references summary:hover {
    cursor: pointer;
    background-color: var(--dark-white);
}



.references summary:focus-visible {
    outline: var(--focus-indicator);
}