.resource-filter details {
    /* border: 0.0625rem solid var(--text-black); */
    /* background-color: var(--white); */
    /* border-radius: 2rem; */
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.resource-filter summary {
    /* font-weight: bold; */
    padding-bottom: 1.5rem;
    /* padding: 1.5rem 2rem; */
    /* border-radius: 2rem; */
    list-style-type: none;
    display: flex;
    align-items: center;

    color: var(--dark-green);
    text-decoration: underline;
    
}

.resource-filter summary span::before {
    content: '+';
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.resource-filter details[open]>summary span::before {
    content: '−';

}

.resource-filter summary:hover {
    /* background-color: var(--white-shade); */
    cursor: pointer;
    text-decoration: none;

}

.resource-filter summary:focus-visible {
    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}

.resource-filter details[open] summary {
    /* border-bottom-left-radius: 0; */
    /* border-bottom-right-radius: 0; */
}


.resource-filter form {
    /* padding: 1rem 2rem 2rem 2rem; */
}

.resource-filter fieldset {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin-bottom: 2rem;
    border: none;
    flex-wrap: wrap;
}

.resource-filter legend {
    font-weight: bold;
    margin-bottom: 1rem;
}

.resource-filter label {
    border-radius: 1rem;
    border: 0.0625rem solid var(--light-text);
    color: var(--light-text);
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
}

.resource-filter label:hover {
    background-color: var(--white-shade);
    cursor: pointer;
}

.resource-filter input[type="checkbox"] {
    /* sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.resource-filter input[type="checkbox"]:checked+label {
    font-weight: bold;
    border: 0.125rem solid var(--dark-green);
    color: var(--dark-green);

}


.resource-filter input[type="checkbox"]:checked+label::before {
    content: "✓";

    color: var(--dark-green);
    margin-right: 0.5rem;

}


.resource-filter input[type="checkbox"]:focus-visible+label {
    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}
