ul.resource-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    padding: 0;
    list-style: none;
    max-width: var(--content-width);
}

ul.resource-list li article {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 1px solid var(--dark-dark-white);
    padding: 1.5rem 1rem;
}

/* Expand the div that contains the title to format */
ul.resource-list li article div:last-child {
    width: 100%;
}

/* Kill the margins around the subtext */
ul.resource-list li article p{
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

ul.resource-list li:last-child article {
    border-bottom: none;    
}

ul.resource-list li article a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

ul.resource-list li article:hover {
    background-color: var(--dark-white);
        cursor: pointer;

}

ul.resource-list li article:has(a:focus-visible) {
    outline: var(--focus-indicator);
}

ul.resource-list li article:hover a,
ul.resource-list li article:has(a:focus-visible) a {
    text-decoration: underline;
    outline: none;
}


ul.resource-list li article h2 {
    margin: 0;
    font-size: 1.25rem;
 
}



.resource-list li div:has(img) {
    /* width: 100%;
    max-width: 6rem;
    aspect-ratio: 1/1; */
}

.resource-list li div:has(img) img {
    width: 100%;
    /* height: 100%; */
    max-width: 7rem;
    aspect-ratio: 1/1;
    /* max-height: 10rem; */
    /* max-height: 10rem; */
    /* object-fit: contain; */
    object-fit: cover;
    /* object-position: left; */

}

ul.resource-format-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

ul.resource-format-list li {
    align-items: center;
    background-color: var(--dark-white);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    z-index: 99;
    border: var(--light-grey) 0.0625rem solid;
}