@font-face {
    font-family: 'HelvetiHand';
    src: url('fonts/HelvetiHand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #fcfcfc;
    --text-black: #15245F;
    --light-purple: #E6BEF7;
    --dark-purple: #9E4BC2;
    --dark-purple-transparent: rgba(158, 75, 194, 0.25);
    --dark-yellow: #775C1E;
    --dark-green: #147557;
    --dark-grey: #757575;
    --page-width: 65rem;
    --focus-indicator: 0 0 0 0.25rem var(--white), 0 0 0 0.5rem var(--dark-purple);
    --focus-indicator-inset: inset 0 0 0 0.25rem var(--dark-purple), inset 0 0 0 0.5rem var(--white);

}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {}
}

body {
    font-family: Inter, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--text-black);
    background-color: var(--white);
    margin: 0 auto;
    box-sizing: border-box;
    /* notebook style */
    background-image: linear-gradient(rgba(117, 117, 117, 0.15) 0.0625rem, transparent 0);
    background-size: 2.5rem 2.5rem;
}

main {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--white);
}

p {
    max-width: 45rem;
}

a:focus {
    outline: none;
    box-shadow: var(--focus-indicator);

}



.image-frame {
    border: 0.5rem solid var(--white);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
    /* border-radius: 2rem; */
    width: 100%;
    max-width: 40rem;
}