/* @font-face {
    font-family: 'HelvetiHand';
    src: url('fonts/HelvetiHand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

:root {
    --white: #FCFCFC;
    --dark-white: #E9E9E9;
    --dark-dark-white: #D9D9D9;
    --text-black: #15245F;

    --light-purple: #E6BEF7;
    --light-purple-shadow: #D2A3E6;
    --dark-purple: #9E4BC2;
    --dark-purple-shadow: #7A319A;

    --light-yellow: #FFE8B4;
    --light-yellow-shadow: #F3DBA4;
    --dark-yellow: #564112;
    --dark-yellow-shadow: #43320A;


    --light-green: #7BEDCA;
    --light-green-shadow: #5FD6B1;
    --dark-green: #147557;

    --light-grey: #D5D5D5;
    --light-grey-shadow: #C5C5C5;
    --dark-grey: #757575;

    --focus-indicator: 0 0 0 0.25rem var(--white), 0 0 0 0.5rem var(--dark-yellow);
    --focus-indicator-inset: inset 0 0 0 0.25rem var(--dark-yellow), inset 0 0 0 0.5rem var(--white);

    --page-width: 65rem;
    --content-width: 45rem;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        --white: #080E29;
        --dark-white: #141D45;
        --dark-dark-white: #212C60;
        --text-black: #FCFCFC;

        --light-purple: #9E4BC2;
        --dark-purple: #E6BEF7;
        --light-purple-shadow: #7A319A;
        --dark-purple-shadow: #D2A3E6;

        --light-yellow: #564112;
        --dark-yellow: #FFE8B4;
        --light-yellow-shadow: #43320A;
        --dark-yellow-shadow: #F3DBA4;

        --light-green: #147557;
        --dark-green: #7BEDCA;
        --light-green-shadow: #5FD6B1;

        --light-grey: #757575;
        --dark-grey: #D5D5D5;

    }
}

body {
    font-family: Inter, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--text-black);
    background-color: var(--white);
    margin: 0 auto;
    box-sizing: border-box;
    background-image: linear-gradient(var(--dark-dark-white) 0.0625rem, transparent 0);
    background-size: 2rem 2rem;
}

main {
    max-width: var(--page-width);
    margin: 3rem auto 0 auto;
    padding: 0 1rem;
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: var(--content-width);
}

h1:focus {
    outline: none;
}

p {
    max-width: var(--content-width);
}

a {
    color: var(--dark-green);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    box-shadow: var(--focus-indicator);
}

.small-text {
    font-size: 0.9rem;
}

.image-frame {
    border: 0.5rem solid var(--white);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 40rem;
}

details {
    max-width: var(--content-width);
    background-color: var(--light-yellow);
    border-radius: 2rem;
    margin: 2rem 0;
}

details summary {
    font-weight: bold;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--light-yellow);
}

details summary:hover {
    cursor: pointer;
    background-color: var(--light-yellow-shadow);
}

details summary:focus {
    outline: none;
    box-shadow: var(--focus-indicator-inset);
}

details[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

details div {
    padding: 1rem 2rem 2rem 2rem;
}

.youtube-video {
    border-radius: 2rem;
    width: 100%;
    max-width: var(--content-width);
    aspect-ratio: 16/9;
    /* border: 1px red solid; */
    border: none;
}

.html5-video-player button:focus,
.html5-video-player a:focus {
    outline: none;
    box-shadow: var(--focus-indicator);
}