@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* background */
    --white: #FCFCFC;
    --white-shade: #E9E9E9;

    --light-grey: #E9E9E9;
    --light-grey-shade: #d9d9d9;
    --dark-grey: #757575;
    --dark-grey-shade: #5A5A5A;

    --text-black: #15245F;
    --light-text: #5A5A5A;
    --black: #333333;

    --light-purple: #E6BEF7;
    --light-purple-shade: #D2A3E6;
    --dark-purple: #9E4BC2;
    --dark-purple-shade: #7A319A;

    --dark-red: #9B353E;
    --light-red: #FFBDC3;


    --light-yellow: #FFE8B4;
    --light-yellow-shade: #F3DBA4;
    --dark-yellow: #564112;
    --dark-yellow-shade: #43320A;


    --light-green: #7BEDCA;
    --light-green-shade: #5FD6B1;
    --dark-green: #147557;

    --light-blue: #DAF6FF;


    --focus-indicator: solid 0.25rem var(--dark-yellow);
    --focus-indicator-offset: 0.25rem;

    --page-width: 65rem;
    --content-width: 40rem;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        /* white + light grey are different from the colours used in light mode */
        --white: #080E29;
        --white-shade: #141D45;

        --light-grey: #141D45;
        --light-grey-shade: #212C60;

        /* reverse */
        --dark-grey: #E9E9E9;
        --dark-grey-shade: #d9d9d9;

        --text-black: #FCFCFC;
        /* light-text is different from the colours used in light mode */
        --light-text: #a5a5a5;
        --black: #D9D9D9;

        --light-purple: #9E4BC2;
        --light-purple-shade: #7A319A;
        --dark-purple: #E6BEF7;
        --dark-purple-shade: #D2A3E6;

        --dark-red: #FFBDC3;
        --light-red: #9B353E;

        --light-yellow: #564112;
        --light-yellow-shade: #43320A;
        --dark-yellow: #FFE8B4;
        --dark-yellow-shade: #F3DBA4;

        --light-green: #147557;
        --dark-green: #7BEDCA;
        --dark-green-shade: #5FD6B1;

        --light-blue: #0F6C87;

        /* --white: #080E29;
        --dark-white: #141D45;
        --dark-dark-white: #212C60;
        --text-black: #FCFCFC;
        --black: #D9D9D9;


        --light-purple: #9E4BC2;
        --light-purple-shade: #7A319A;
        --dark-purple: #E6BEF7;
        --dark-purple-shade: #D2A3E6;

        --dark-red: #FFBDC3;
        --light-red: #9B353E;

        --light-yellow: #564112;
        --light-yellow-shade: #43320A;
        --dark-yellow: #FFE8B4;
        --dark-yellow-shade: #F3DBA4;

        --light-green: #147557;
        --dark-green: #7BEDCA;
        --dark-green-shade: #5FD6B1;

        --light-blue: #0F6C87;

        --light-grey: #757575;
        --light-grey-shade: #5A5A5A;
        --dark-grey: #D5D5D5;
        --dark-grey-shade: #C5C5C5; */
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.1875rem;
    /* letter-spacing: 2%; */
    /* font-width: 200%; */
    line-height: 1.5;
    color: var(--text-black);
    background-color: var(--white);
    margin: 0 auto;
    box-sizing: border-box;
    background-image: linear-gradient(var(--light-grey) 0.0625rem, transparent 0);
    background-size: 2rem 2rem;
}

main {
    max-width: var(--page-width);
    margin: auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.25;
    max-width: var(--content-width);
    padding-top: 0.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    margin-top: 0;
}

h1:focus {
    outline: none;
}

p {
    max-width: var(--content-width);
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.lead-text {
    /* margin-top: 3rem; */
    font-size: 1.625rem;
    /* line-height: 1.75; */
}

a {
    color: var(--dark-green);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:focus-visible {

    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}

.button {
    background-color: var(--light-purple);
    color: var(--text-black);
    /* border: none; */
    border: solid 0.0625rem var(--dark-purple);
    border-bottom-width: 0.5rem;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: var(--light-purple-shade);
    border-bottom-width: 0.125rem;
    transform: translateY(0.375rem);
    margin-bottom: 0.375rem;
}

.button:focus-visible {
    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}

ul {
    max-width: var(--content-width);
    margin-bottom: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}


@media (prefers-color-scheme: dark) {

    img {
        filter: brightness(0.8);
    }
}



dt {
    font-weight: bold;
    margin-top: 2rem;
}

dd {
    margin: 0;
}


blockquote {
    max-width: var(--content-width);
    font-size: 1.25rem;
    font-style: italic;
    padding: 1rem 0 1rem 3rem;
    margin: 3rem 0;
    display: block;
    position: relative;
}

blockquote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.75rem;
    border-radius: 2rem;
    background-color: var(--dark-red);
}

cite {
    max-width: var(--content-width);
    display: block;
    text-align: right;
    margin-top: 0.5rem;
}

