footer {
    background-color: var(--dark-grey-shade);
    margin-top: 4rem;
    color: var(--white);
}


footer a {
    color: var(--light-green);
}

footer a:focus-visible {
    outline-color: var(--white);
}

.footer-content {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 1.5rem 1rem;

}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  
}

@media (prefers-color-scheme: dark) {
    footer {
        background-color: var(--white-shade);
        color: var(--text-black);
    }

    footer a {
        color: var(--dark-green);
    }

    footer a:focus-visible {
        outline-color: var(--text-black);
    }
}