.search-and-filter details {
    border: 0.0625rem solid var(--dark-grey);
    max-width: var(--content-width);
    border-radius: 2rem;
    margin: 2rem 0;
}

.search-and-filter summary {
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 2rem;
    /* list-style: none; */
}

.search-and-filter summary:hover {
    background-color: var(--dark-white);
}

.search-and-filter summary:focus-visible {
    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}

.search-and-filter details[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.search-and-filter form {
    /* border: 0.0625rem solid var(--text-black); */
    padding: 1rem 2rem 2rem 2rem;
}

.search-and-filter fieldset {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin-bottom: 2rem;
    border: none;
    flex-wrap: wrap;
}

.search-and-filter legend {
    font-weight: bold;
    margin-bottom: 1rem;
}

.search-and-filter label {
    /* font-size: 1rem; */
    border-radius: 1rem;
    border: 0.0625rem solid var(--dark-grey);
    color: var(--dark-grey);
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;

}

.search-and-filter label:hover {
    background-color: var(--dark-white);
    cursor: pointer;
}

.search-and-filter input[type="checkbox"] {
    /* sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.search-and-filter input[type="checkbox"]:checked+label {
    font-weight: bold;
    border: 0.125rem solid var(--dark-green);
    color: var(--dark-green);

}


.search-and-filter input[type="checkbox"]:checked+label::before {
    content: "✓";

    color: var(--dark-green);
    margin-right: 0.5rem;
 
}


.search-and-filter input[type="checkbox"]:focus-visible+label {
    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}