nav.breadcrumb-nav {
  max-width: var(--page-width);
  margin: 3rem auto 0 auto;
  background-color: var(--white);
  padding: 0 1rem;

}

nav.breadcrumb-nav ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

nav.breadcrumb-nav li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav.breadcrumb-nav a {
  color: var(--dark-purple);
}


/* .breadcrumb-current {
  color: #333;
  font-weight: 500;
} */
