ul.card-list {
    margin-top: 2rem;
    list-style-type: none;
    padding: 0;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

/* Remove the default margin from headings inside cards */
ul.card-list h2,
ul.card-list h3,
ul.card-list h4 {
    margin-top: 0;
}

ul.card-list li {
    display: flex;
 
}
ul.card-list li article {
    width: 100%;
    margin: 0;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--dark-white);
}

ul.card-list li article:not(.disabled-card):hover {
    cursor: pointer;
    background-color: var(--dark-dark-white);
}

ul.card-list li article a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

ul.card-list li article a {
    text-decoration: none;
}

/* Hover and focus stuff */

ul.card-list li article:hover a {
    text-decoration: underline;
}

ul.card-list li article a:focus {
    outline: none;
    box-shadow: none;
    text-decoration: underline;
}

ul.card-list li article:has(a:focus) {
    box-shadow: var(--focus-indicator);
}