ul:has(.event-card) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.event-card article {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Reverce date and info */
.event-card div:has(.info) {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

.event-card div.date {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 7.5rem;
}

/* day */
.event-card div.date div:first-child {
    font-size: 2rem;
}

.event-card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.event-card img {
    width: 100%;
    max-width: 15rem;
    /* height: 100%; */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1rem;
    grid-column: 3/4;
    margin-top: 0;
    margin-bottom: 1.5rem;

}


@media (max-width: 768px) {
    .event-card article {
        flex-direction: column;
    }

    .event-card div:has(.info) {
        flex-direction: column-reverse;
    }

    .event-card img {
        max-width: 100%;
        /* height: auto; */
        aspect-ratio: 2 / 1;
    }
}