footer{
    background-color: var(--dark-grey);
    margin-top: 4rem;
    color: var(--white);
}

footer a {
    color: var(--light-green);
}

.footer-content {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 1.5rem 1rem;

}