.note-section {
    max-width: var(--content-width);
    display: block;
    background-color: var(--light-blue);
    color: inherit;
    padding: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
}

.note-section h2{
    padding-top: 0;
}

.note-section a{
    color: var(--text-black)
}