.side-nav {
    width: 100%;
    padding: 0;
    /* border-radius: 2rem; */
}

.side-nav>div {
    /* border-radius: 2rem; */
    background-color: var(--white);
    border: 0.0625rem solid var(--dark-dark-white);
    padding: 1rem 0.5rem;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* background-color: var(--light-purple); */
    /* background-color: var(--white); */



}

.side-nav ul ul {
    padding-left: 1rem;
}

.side-nav li {
    margin: 0;
    padding: 0;
}

.side-nav a {
    display: block;
    /* border-bottom: 0.0625rem solid var(--white); */
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--text-black);
    /* background-color: var(--light-purple); */
}

.side-nav a:hover {
    background-color: var(--dark-white);
}

.side-nav a.active {
    text-decoration: underline;
    font-weight: bold;
}