.video-container {
    /* background-color: var(--light-grey); */
    /* color: var(--white); */
    /* padding: 1.5rem 2rem 0 2rem; */
    margin: 3rem 0;
    /* max-width: var(--content-width); */
    /* border: 0.125rem dotted var(--dark-grey); */
        max-width: var(--content-width);

}


.video {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

    border: none;
}

.html5-video-player button:focus-visible,
.html5-video-player a:focus-visible {
    outline: var(--focus-indicator);
    outline-offset: var(--focus-indicator-offset);
}